body {
  margin: 0;
  padding: 0;
}
#map {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%; }

.map-overlay {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  width: 30%;
  height: 200px; /* 调整高度 */
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 3px;
  margin: 10px;
}

.map-overlay-inner {
  padding: 30px;
  margin-bottom: 10px;
  position: relative; /* 添加相对定位 */
}

.map-overlay h2 {
line-height: 24px;
display: block;
margin: 0 0 10px;
}
.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Montserrat Neue',sans-serif;
}

#menu {
  margin-top: 50px; /* 与文段的距离 */
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.check-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: absolute; /* 使用绝对定位相对于 .map-overlay-inner */
  bottom: 10px; /* 调整到底部的距离 */
}

.check-container label {
  display: block;
  margin-bottom: 10px; /* 调整 checkbox 之间的距离 */
  width: 100%; /* 确保每个 label 占据一行 */
}


